
body { 
    background: $col-bg; 
}

#pmOverlay { text-align: center; overflow: hidden; }
#pmOverlayImg { position: relative; left:0; top: -2px; }

html { @include border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
    min-width: 375px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#main {
    padding-top: $headHeight;
    margin: 0 auto -187px;
    min-height: 100%;
    text-align: left;
    overflow-x: hidden;

    &:after {
        content: "";
        display: block;
        position: static;
        height: 187px;
    }

    @include tablet {
        padding-top: 74px;
        margin-bottom: -110px;

        &:after {
            height: 110px;
        }
    }
}

@media screen and (max-width:1200px){

    // #main {
    //     padding-top: 0;
    // }

    // #header {
    //     position: relative !important;
    // }
}

.socket {
    @include socket;
}

.clearfix {
    @include clearfix;
}

/* =========================
   Header
   ========================= */

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: $headHeight;
    -webkit-backface-visibility: hidden;
    
    @include tablet {
        height: auto;

        &.shadow {
            box-shadow: 0px 12px 18px 1px rgba(19, 36, 45, 0.09);
            -webkit-box-shadow: 0px 12px 18px 1px rgba(19, 36, 45, 0.09);
        }

        .socket {
            height: 74px;
            padding: 0 30px;
        }
    }

    @include mobile {

        .socket {
            padding: 0 20px;
        }
    }

    @include mobile-sm {

        .socket {
            width: 320px;
        }
    }
}

#header.is-fixed {
    position: fixed;
}

.header-top {
    position: relative;
    z-index: 1;
    height: 81px;
    border-bottom: 1px solid #efeff1;
    background-color: #fff;

    @include tablet {
        height: 74px;
        border: none;

        .info-block {
            display: none;
        }
    }
}

.header-menu {
    background-color: #fff;
    box-shadow: 0px 12px 18px 1px rgba(19, 36, 45, 0.09);
    -webkit-box-shadow: 0px 12px 18px 1px rgba(19, 36, 45, 0.04);  

    @include tablet {
        display: none;
    } 
}

.logo-wrap {
    width: 270px;
    margin: auto;
    padding-top: 19px;
    text-align: center;

    @include tablet {
        display: none;
    }

    span {
        @extend .text;
        padding-top: 6px;
        display: block;
    }
}

.logo-mobile {
    position: absolute;
    top: 28px;
    left: 40px;
    width: 138px;
    height: 17px;
    display: block;
    text-decoration: none;

    svg {
        width: 100%;
        height: 100%;
    }
} 

.info-block {
    position: relative;
    text-decoration: none;
    
    &.tel {
        position: absolute;
        z-index: 1;
        top: 23px;
        left: 30px;
        padding-left: 31px;

        &:before {
            width: 18px;
            height: 32px;
            top: 2px;
        }
    }

    &.st {
        padding-left: 33px;

        &:before {
            top: 4px;
            width: 21px;
            height: 28px;
            background: url(../images/ico-map.svg) no-repeat;
        }
    }

    &.ml {
        padding-left: 45px;

        &:before {
            top: 4px;
            width: 32px;
            height: 22px;
            background: url(../images/ico-mail.svg) no-repeat;
        }
    }

    &:before {
        @include sp(0,0);
        @extend .ps;
        left: 0;
    }

    > div {
        @extend .text;

        a {
            @extend .text;
            text-decoration: none;

            &:hover {
                color: $col-f-d;
                text-decoration: underline;
            }
        }

        &:first-child {
            color: $col-f-d;
            padding-bottom: 5px;
        }
    }

    > .drop-item {
        position: relative;
        top: -7px;
        left: -39px;
        padding-bottom: 0;

        & + div {
            position: relative;
            top: -16px;
        }
    }
}

a.info-block div:first-child:hover {
    text-decoration: underline;
}

.drop-item {
    position: relative;
    cursor: pointer;

    span {
        position: relative;
        padding-left: 39px;
        left: 0;
        z-index:2;
        display: block;
        height: 28px;
        line-height: 28px;
        margin-bottom: 3px;
        overflow: hidden;

        i {
            display: block;
            position: absolute;
            left: 18px;
            top: -14px;
            width: 12px;
            height: 35px;
            cursor: pointer;

            &:after {
                @extend .ps;
                @include sp(-224px, 0);
                @include sp(-238px, 0);
                width: 12px;
                height: 14px;
                top: 20px;
                left: 0;
            }

            &:hover:after {
                @include sp(-238px, 0);
            }
        }
    }

    > span  {

        i {
            display: none;
        }

        em {
            padding-right: 14px;

            &:after {
                @include tr-bottom(4px, 4px, 4px, #747474);
                @extend .trans;
                content:"";
                position: absolute;
                top: 11px;
                right: 2px;
            }
        }
    }

    em {
        display: block;
        font-style: normal;
        white-space: nowrap;
    }

    .drop {
        @extend .trans;
        opacity: 0;
        display: none;
        position: absolute;
        z-index: 1;
        width: 200px;
        top: -13px;
        left: 0;
        padding-top: 43px;
        padding-left: 39px;
        padding-bottom: 7px;
        background-color: #fff;
        box-shadow: 0px 12px 18.06px 2.94px rgba(19, 36, 45, 0.09);
        -webkit-box-shadow: 0px 12px 18.06px 2.94px rgba(19, 36, 45, 0.09);

        span {
            width: 185px;
            left: -39px;
        }
    }

    &.is-open {

        > span  {

            i {
                display: block;
            }

            em:after {
                @include rot(180deg);
            }
        }

        .drop {
            opacity: 1;
            display: block;
        }
    }
}

.header-basket-buttons {
    font-size: 0;

    .btn-a {
        width: 50%;

        &:last-child {
            color: $col-h;
            border-right: none;
        }
    }
}

.btn-a {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    color: #747474;
    text-decoration: none;
    border-bottom: 1px solid $col-bor;
    border-right: 1px solid $col-bor;
}

.header-items {
    position: absolute;
    z-index: 1;
    top: 29px;
    right: 0;

    @include tablet {
        float: right;
        top: 25px;
        position: relative;
    }
}

.items-wrap, .header-cabinet-wrap {
    position: relative;
    float: left;
    width: 57px;
    margin-left: 28px;

    .socket {
        height: 0 !important;
    }

    @include mobile {
        margin-left: 12px;
    }
}

.items-wrap {

    @include mobile {
        width: 24px;
    }
}




.items {
    display: block;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    text-decoration: none;

    &:before {
        @extend .ps;
        @include sp(0,0);
        left: 0;
    }

    &.fav:before {
        top: 2px;
        left: 0;
        width: 23px;
        height: 20px;
        background-position: -21px 0;
    }

    &.bkt:before {
        top: 1px;
        left: -3px;
        width: 26px;
        height: 22px;
        background-position: -46px 0;
    }

    div {
        @include border-rad(50%);
        width: 24px;
        height: 24px;
        background-color: #eee;
        text-align: center;
        line-height: 24px;
        white-space: nowrap;
        font-family: $font-med;
    }

    @include mobile {
        
        div {
            width: 0;
            text-indent: -9999px;
        }
    }
}

.header-items-drop, .cabinet-drop {
    @include border-rad(8px);
    position: absolute;
    top: 70px;
    right: 10px;
    width: 225px;
    padding: 15px 25px 18px;
    background-color: #fff;
    border: 1px solid #f2f2f4;

    box-shadow: 0px 29px 38px 0px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 29px 38px 0px rgba(0, 0, 0, 0.11);

    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);

    @include tablet {
        top: 62px;
    }

    &.is-open {
        animation: itemsOpen 0.3s linear forwards;
        -webkit-animation: itemsOpen 0.3s linear forwards;
        -ms-animation: itemsOpen 0.3s linear forwards;
    }

    &:before {
        @extend .ps;
        @include sp(-204px, -92px);
        width: 17px;
        height: 10px;
        top: -10px;
        right: 29px;
    }

    .header-drop-products {
        max-height: 217px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 10px;
    }

    .basket-product {
        overflow: hidden;
        height: 100px;
        padding-top: 21px;
        padding-left: 80px;
        margin-bottom: 18px;
        border-bottom: 1px solid $col-bor;

        &:last-child {
            margin-bottom: 0;
            border: none;
        }

        .img {
            top: 5px;
            width: 80px;
            padding-left: 10px;

            img {
                height: 85px;
            }

            i.remove {
                left: 4px;
                transform: scale(1);
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
            }
        }
    }

    .btn {
        width: 100%;
    }

    .header-drop-count {
        text-align: center;
        padding-top: 10px;
    }

    .header-drop-hold {
        text-align: center;
    }
}

.header-items-drop {
    // display: none;
    overflow: visible !important;

    &.header-basket {
        right: 107px;

        @include tablet {
            right: 138px;
        }
    }

    &.header-fav {
        right: 190px;

        @include tablet {
            right: 222px;
        }
    }

    @include mobile {
        @include border-rad(0px);
        width: auto !important;
        top: 74px;
        left: 0;
        right: 0 !important;
        border: none;
        box-shadow: inset 0 24px 24px -20px rgba(19, 36, 45, 0.03), 0px 3px 3px 0px rgba(21, 34, 40, 0.09);
        -webkit-box-shadow: inset 0 24px 24px -20px rgba(19, 36, 45, 0.03), 0px 3px 3px 0px rgba(21, 34, 40, 0.09);

        &:before {
            display: none;
        }
    }
}



@keyframes itemsOpen {
    100% {
        transform: translateY(0px);
        -ms-transform: translateY(0px);
    }
}

@-webkit-keyframes itemsOpen {
    100% {
        -webkit-transform: translateY(0px);
    }
}


// Cabinet Login
.header-cabinet-wrap {
    width: auto;
}

.cabinet-l {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &:before {
        @extend .ps;
        width: 21px;
        height: 20px;
        left: 0;
        top: 2px;
        background: url(../images/ico-login.png) no-repeat;
        background-size: 100% auto !important;
    }
    
    span {
        display: inline-block;
        text-decoration: underline;
        text-transform: uppercase;
        white-space: nowrap;
        max-width: 150px;
        font-size: 16px;
        line-height: 23px;
        color: $col-f-d;
        font-family: $font-med;
    }

    &:hover {

        span {
            text-decoration: none;
        }
    }

    @include mobile {
        padding-left: 23px;

        span {
            width: 0;
            text-indent: -9999px;
        }
    }
}

.cabinet-drop {
    padding: 0;
    right: -10px;
    outline: none !important;

    @include tablet {
        right: 52px;
    }

    ul {

        li {
            border-bottom: 1px solid $col-bor;

            &:last-child {
                border: none;
            }

            a {
                @extend .trans;
                @include color-b(0.6);
                display: block;
                padding: 29px 0 26px 30px;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $font-med;

                &:hover {
                    color: #000 !important;
                    background-color: #f0f1f1;
                }
            }

            &.logout a {
                color: #ee373b;
            }
        }
    }
}

.modal.fade  {
    
    .modal-dialog.cabinet-drop,
    .modal-dialog.header-items-drop {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);

        @include tablet {
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
        }

        @include mobile {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
        }
    }

    &.in .modal-dialog.cabinet-drop,
    &.in .modal-dialog.header-items-drop {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    }
}

// Menu
.menu {
    @include clearfix;
    @extend .socket;
    text-align: center;
    
    > ul {

        > li {
            float: left;
            position: relative;
            width: 14.28%;
            height: 56px;
            border-right: 1px solid #eee;

            &.dropdown-submenu:after {
                content:"";
                display: block;
                position: absolute;
                bottom: -25px;
                left: 0;
                right: 0;
                height: 25px;
            }

            > a {
                @extend .trans;
                display: block;
                text-decoration: none;
                height: 100%;
                line-height: 56px;
                text-transform: uppercase;
                font-family: $font-med;
            }

            &:last-child {
                border: none;

                a {
                    text-align: right;
                }
            }

            &:hover, &.is-current {

                > a {
                    color: $col-h;
                }
            }

            &:hover {
                
                .dropdown-menu-l1 {
                    display: block;
                }
            }
        }
    }

    .dropdown-menu {
        @include border-rad(6px);
        position: absolute;
        background-color: #fff;
        text-align: left;
        box-shadow: 0px 12px 18.06px 2.94px rgba(19, 36, 45, 0.09);

        li {
            border-bottom: 1px solid #efeff1;

            &:last-child {
                border: none;
            }

            > a {
                display: block;
                height: 60px;
                line-height: 60px;
                padding-left: 27px;
                text-transform: uppercase;
                font-family: $font-med;
                text-decoration: none;
                letter-spacing: 0.6px;
            }

            &:hover > a {
                color: $col-h;
            }
        }
    }

    .dropdown-menu-l1 {
        display: none;
        width: 245px;
        top: 80px;
        left: 0;
        
        &:after {
            @include tr-top(10px, 10px, 10px, #fff);
            content: "";
            display: block;
            position: absolute;
            top: -10px;
            left: 65px;
        }

        > li {
            
            > a {
                position: relative;
                z-index: 1;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    right: -20px;
                    width: 20px;
                    top: 0;
                    bottom: 0;
                }

                i {
                    @include tr-left(10px, 10px, 10px, #fff);
                    display: none;
                    content: "";
                    position: absolute;
                    left: 254px;
                    top: 21px;
                    z-index: 1;
                }
            }

            &:hover {

                > .dropdown-menu-l2, > a:after, > a:before, a > i {
                    display: block;
                }

                > a:after {
                    @include rot(135deg);
                }
            }
        }
    }

    .dropdown-menu-l2 {
        display: none;
        width: 175px;
        left: 263px;
        top: 0;
        max-height: 360px;
        overflow: hidden;

        .ps-scrollbar-x-rail {
            display: none !important;
        }

        .ps-scrollbar-y-rail {
            width: 5px;
            right: 0;
            background: rgba(196,196,196, 0.25);

            .ps-scrollbar-y {
                @include border-rad(10px);
                width: 100%;
                background-image: linear-gradient( -83deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
                background-image: -webkit-linear-gradient( -83deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
                background-image: -ms-linear-gradient( -83deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
            }
        }
    }
}

.dropdown-menu-l1 {

    > li > a:after {
        @include st(8px, #c4c4c4, 45deg);
        @extend .trans;
        content: "";
        top: 27px;
        right: 20px;
        border-width: 2px;
    }
    
    > li.is-open > a:after {
        @include rot(135deg);
    }
}

// Menu Button
.btn-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: none;

    .socket {
        @include transition(width, 0.3s, linear);
    }

    .menu-open & {
        margin-left: 30px;
    }

    .menu-open & .socket {
        width: 100% !important;
    }

    @include tablet {
        display: block;

        .socket {
            margin: 0 30px;
            padding: 0;
        }

        .menu-open & {
            margin-left: 0;
        }
    }

    @include mobile {

        .socket {
            width: 280px;
            margin: 0 20px;
        }
    }
}

#btn-menu {
    position: absolute;
    left: 0;
    top: 28px;
    width: 24px;
    height: 18px;
    display: block;
    cursor: pointer;

    i {
        @include border-rad(1px);
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        left: 0;
        background: #636363;
        transform-origin: 50% 50%;
    }

    i:nth-child(1) {
        top: 0px;
    }

    i:nth-child(2) {
        top: 8px;
    }

    i:nth-child(3) {
        top: 16px;
    }
}

.menu-open {

    #btn-menu {

        i:nth-child(2) {
            opacity: 0;
            transition: opacity 0.1s linear 0.1s;
            -ms-transition: opacity 0.1s linear 0.1s;
            -webkit-transition: opacity 0.1s linear 0.1s;
        }

        i:nth-child(1) {
            animation: to-cross-left 0.5s linear forwards;
            -ms-animation: to-cross-left 0.5s linear forwards;
            -webkit-animation: to-cross-left 0.5s linear forwards;
        }

        i:nth-child(3) {
            animation: to-cross-right 0.5s linear forwards;
            -ms-animation: to-cross-right 0.5s linear forwards;
            -webkit-animation: to-cross-right 0.5s linear forwards;
        }
    }
}

.menu-close {

    #btn-menu {

        i:nth-child(2) {
            opacity: 1;
            transition: opacity 0.1s linear 0.3s;
            -ms-transition: opacity 0.1s linear 0.3s;
            -webkit-transition: opacity 0.1s linear 0.3s;
        }    

        i:nth-child(1) {
            animation: from-cross-left 0.5s linear forwards;
            -ms-animation: from-cross-left 0.5s linear forwards;
            -webkit-animation: from-cross-left 0.5s linear forwards;
        }

        i:nth-child(3) {
            animation: from-cross-right 0.5s linear forwards;
            -ms-animation: from-cross-right 0.5s linear forwards;
            -webkit-animation: from-cross-right 0.5s linear forwards;
        }
    }
}

@keyframes to-cross-left {
    50% {
        @include rot(0deg);
        top: 8px;
    }

    100% {
        @include rot(-45deg);
        top: 8px;
    }
}

@keyframes to-cross-right {
    50% {
        @include rot(0deg);
        top: 8px;
    }

    100% {
        @include rot(45deg);
        top: 8px;
    }
}

@keyframes from-cross-left {
    0% {
        @include rot(-45deg);
        top: 8px;
    }

    30% {
        @include rot(0deg);
        top: 8px;
    }

    100% {
        @include rot(0deg);
        top: 0;
    }
}

@keyframes from-cross-right {
    0% {
        @include rot(45deg);
        top: 8px;
    }

    30% {
        @include rot(0deg);
        top: 8px;
    }

    100% {
        @include rot(0deg);
        top: 16px;
    }
}

// Menu
.menu-wrap {
    @include transition(opacity, 0.2s, linear);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
        @extend .trans;
        @extend .ps;
        background-color: #000;
        opacity: 0.4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.menu-mobile {
    @include transition(left, 0.3s, ease-in);
    position: absolute;
    z-index: 1;
    width: 280px;
    left: -280px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    text-align: left;

    transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;

    .menu-open & {
        left: 0;
    }

    .menu-close & {
        transition-delay: 0s;
        -ms-transition-delay: 0s;
        -webkit-transition-delay: 0s;
    }
    
    > ul {
        @include flex-vert(space-between);
        padding-top: 110px;
        padding-bottom: 50px;
        height: 100%;

        > li {

            > a {
                display: block;
                padding-left: 30px;
                text-transform: uppercase;
                font-size: 14px;
                color: #212121;
                text-decoration: none;
                font-family: $font-med;
            }

            &.is-current > a {
                color: $col-h;
            }
        }
    }

    .dropdown-menu {

        > li {

            &.dropdown-submenu > a {
                padding-left: 50px;
            }
            
            > a {
                position: relative;
                padding: 9px 0;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $font-med;
            }
        }
    }

    .dropdown-menu-l1 {
        display: none;
        margin: 25px 0 0;
        background-color: #f4f4f4;

        > li > a:after {
            top: 11px;
        }
    }

    .dropdown-menu-l2 {
        display: none;
        background-color: #fff;

        &.scroll-block {
            max-height: 90px;

            .ps-scrollbar-x-rail {
                display: none !important;
            }

            .ps-scrollbar-y-rail {
                width: 5px;
                right: 0;
                background: rgba(196,196,196, 0.25);

                .ps-scrollbar-y {
                    width: 100%;
                    background-image: linear-gradient( -83deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
                    background-image: -webkit-linear-gradient( -83deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
                    background-image: -ms-linear-gradient( -83deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
                }
            }
        }
        
        > li > a {
            height: 30px;
            padding-left: 70px;
        }
    }
}


@media (max-height: 560px){

    .menu-mobile > ul {
        padding: 85px 0 35px;
    }
}

@media (max-height: 470px){

    .menu-mobile > ul {
        padding: 70px 0 25px;
    }
}

@include mobile {

    @media (orientation: landscape){

        .menu-mobile > ul > li {
            margin:5px 0;
        }
    }
}

.scroll-block {
    position: relative;
    overflow: hidden;
}


/* =========================
   Footer
   ========================= */   

#footer {
    height: 187px;
    background: #fff;
    text-align: left;
    padding-top: 22px;
    box-shadow: 0px 3px 3px 0px rgba(21, 34, 40, 0.15);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(21, 34, 40, 0.15);

    .footer {
        @include clearfix;
        width: 935px;
        height: 145px;
        margin: 0 auto;
    }

    .footer-top, .footer-btm {
        @include clearfix;
        position: relative;
    }

    .footer-top {
        height: 100px;
        border-bottom: 1px solid #e2e2e2;

        .info-block {
            float: left;
            max-width: 260px;
            margin-top: 39px;
            margin-right: 45px;
        }

        .social {
            position: absolute;
            top: 49px;
            right: 0;
        }
    }

    .footer-btm {
        text-align: center;
    }

    .footer-left, .footer-center, .footer-right {
        float: left;
        padding-top: 13px;
        height: 100%;

        > span {
            display: block;
            font-size: 15px;
            margin-bottom: 12px;
            color: #212121;
        }
    }

    .footer-left, .footer-center {
        border-right: 1px solid $col-bor;
    }

    .footer-left {
        width: 275px;

        .info-block {
            float: left;
            max-width: 260px;
            margin-bottom: 38px;
        }
    }

    .footer-center {
        width: 280px;
        padding-left: 40px;

        .social {
            
            li {
                margin: 0 9px 0 0;
            }
        }

        .partners {
            margin-bottom: 25px;
        }
    }

    .footer-right {
        width: 380px;
        padding-left: 25px;

        .copyright {
            font-size: 14px;
        }
    }

    @include tablet {
        padding-top: 25px;
        height: 110px;
        
        .footer {
            width: auto;
        }

        .footer-top {
            height: auto;
            border: none;

            .info-block {
                display: none;
            }

            .social {
                position: absolute;
                top: 25px;
                left: 50%;
                margin-left: -50px;
            }
        }

        .footer-left, .footer-center > *, .footer-right > * {
            display: none !important;
        }

        .footer {
            position: relative;
            height: auto;

            .footer-center  {
                width: 100%;
                float: none;
                padding: 0;

                .social {
                    display: block !important;
                    text-align: center;

                    li {
                        margin: 0 5px;
                    }
                }
            }

            .footer-right {

                .copyright {
                    display: block !important;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: -20px;
                    text-align: center;
                }
            }
        }
    }
}

.social {
    font-size: 0;

    li {
        display: inline-block;
        vertical-align: top;
        margin-left: 9px;

        a {
            @include sp(0,0);
            display: block;
            width: 26px;
            height: 26px;
        }

        &.ico-1 a {
            background: url(../images/soc-1.svg) no-repeat;

            &:hover {
                background: url(../images/soc-1-h.svg) no-repeat;
            }
        }

        &.ico-2 a {
            background: url(../images/soc-2.svg) no-repeat;

            &:hover {
                background: url(../images/soc-2-h.svg) no-repeat;
            }
        }

        &.ico-3 a {
            background: url(../images/soc-3.svg) no-repeat;

            &:hover {
                background: url(../images/soc-3-h.svg) no-repeat;
            }
        }

        &.ico-4 a {
            background: url(../images/soc-4.svg) no-repeat;

            &:hover {
                background: url(../images/soc-4-h.svg) no-repeat;
            }
        }
    }
}

// .copyright, .rights {
//     @extend .text;
//     position: absolute;
//     left: 0;
//     top: 33px;
// }

.rights {
    left: auto;
    right: 0;
}

.partners {
    vertical-align: top;
    font-size: 0;

    a {
        display: inline-block;  
        vertical-align: top;  
        margin: 0 18px 0 0;
        vertical-align: middle;
    }
}

.mail-input.form-input-r {
    width: 345px;
    margin-bottom: 22px;

    input {
        padding-right: 205px;
    }

    > button.btn.btn-b {
        width: 190px;
        position: absolute;
        right: 0;
        top: 0;
        height: 51px;
        line-height: 51px;
    }
}

@include tablet {
    
    .partners, .rights {
        display: none;
    }
}



/* =========================
   Content
   ========================= */   

#content {
    padding: 40px 0 45px;

    @include tablet {
        padding-top: 30px;
    }

    &.content-socket {
        padding-bottom: 0;
    }
}

.breadcrumbs {
    padding-top: 37px;
    margin-bottom: 36px;

    @include tablet {
        display: none;
        padding-left: 30px;
    }

    li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-size: 15px;
        color: $col-f-g;
        padding-right: 20px;
        margin-right: 15px;

        &:after {
            @include st(6px, #c4c4c4, 45deg);
            @extend .ps;
            right: 0;
            top: 6px;
        }

        &:last-child:after {
            display: none;
        }

    a {
            font-size: 15px;
        }
    }
}  


.block {
    @extend .border-rad;
    background-color: #fff;
    margin-bottom: 11px;
    box-shadow: 0px 3px 3px 0px rgba(21, 34, 40, 0.09);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(21, 34, 40, 0.09);
    
    &.block-hover {
        @extend .trans;
    }

    &.block-hover:hover {
        box-shadow: 0px 4px 4px 0px rgba(21, 34, 40, 0.13);
        -webkit-box-shadow: 0px 4px 4px 0px rgba(21, 34, 40, 0.13);
    }

    @include tablet {
        
        &.widget-block, &.basket-order-block {
            @include border-rad(0px);
        }
    }
}

.widget-block {
    padding: 30px 15px 32px 25px;

    @include tablet {
        padding-right: 25px;
    }

    @include mobile {
        padding-left: 20px;
        padding-right: 20px;
    }

    .title-2 {
        margin-bottom: 7px;
        line-height: 30px;
    }

    .title-s {
        margin-bottom: 22px;
    }
}

.button-block {
    text-align: center;

    a {
        @extend .trans;
        display: block;
        padding: 26px 0 24px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font-family: $font-med;

        &:hover {
            color: $col-h;
        }
    }
}

.circ {
    @include border-rad(50%);
    position: relative;
    width: 52px;
    height: 52px;
    background-color: #fff;
    box-shadow: 0px 15px 21px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 15px 21px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
    font-family: $font-med;
    color: $col-h;

    &:before, &:after {
        @extend .ps;
        width: 8px;
        height: 2px;
        top: 50%;
        left: 50%;
        background-color: $col-h;
    }

    &.plus {

        &:before {
            width: 2px;
            height: 8px;
            margin-top: -4px;
            margin-left: -1px;
        }

        &:after {
            margin-left: -4px;
            margin-top: -1px;
        }
    }

    &.minus {

        &:before {
            margin-left: -4px;
            margin-top: -1px;
        }

        &:after {
            display: none;
        }
    }

    &.eq {

        &:before, &:after {
            margin-left: -4px;
        }

        &:before {
            margin-top: -3px;
        }

        &:after {
            margin-top: 1px;
        }
    }
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.num {
    @include border-rad(50%);
    @include grad;
    position: absolute;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-family: $font-med;
}

.left-column, .column {
    float: left;
}

.right-column {
    float: right;
}

.price-e {
    
    span {
        display: block;
        font-size: 15px;
        margin-bottom: 11px;

        a {
            text-decoration: none;
            color: $col-f-g;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.prod-desc-block {
    @include clearfix;
}

.prod-desc-item {
    position: relative;
    float: left;
    width: 50%;
    height: 50px;
    padding-left: 43px;

    &:before {
        @include sp(0,0);
        @extend .ps;
        left: 0;
        top: 0;
        width: 32px;
        height: 31px;
    }

    div {
        text-transform: uppercase;
        font-family: $font-med;
        color: $col-f-d;
        margin-bottom: 5px;
    }

    span {
        color: $col-h;
        letter-spacing: 0.7px;
    }
}

.item-b {
    padding:18px 0;
    border-top: 1px solid $col-bor;
    border-bottom: 1px solid $col-bor;
}

.circles {
    position: relative;
    width: 395px;
    height: 395px;

    span {
        @include border-rad(50%);
        position: absolute;
        width: 395px;
        height: 395px;
        display: block;
        border: 1px solid #ebeced;
    }

    span:nth-of-type(2), span:nth-of-type(3) {
        left: 50%;
        top: 50%;
    }

    span:nth-of-type(2) {
        width: 325px;
        height: 325px;
        margin: -162px 0 0 -162px;
    }

    span:nth-of-type(3) {
        width: 255px;
        height: 255px;
        margin: -127px 0 0 -127px;
    }
}

.circles.scale-in {
    @include scale(0);
    transition: all 1.3s ease 0.4s;
    -ms-transition: all 1.3s ease 0.4s;
    -webkit-transition: all 1.3s ease 0.4s;

    .animate & {
        @include scale(1);
    }
}

.color-select {
    font-size: 0;
    text-align: center;

    .color-lbl {
        @extend .text;
        margin-bottom: 10px;
    }

    .color-item {
        display: inline-block;
        margin: 0 5px;

        input {
            display: none;
        }
    }

    .color-c {
        @include border-rad(50%);
        position: relative;
        width: 44px;
        height: 44px;
        border: 7px solid #d6d6d7;
        cursor: pointer;

        i {
            @include sp(-177px, -68px);
            @include transition(opacity, 0.25s, linear);
            display: block;
            opacity: 0;
            position: absolute;
            width: 10px;
            height: 7px;
            top: 50%;
            left: 50%;
            margin: -3px 0 0 -5px; 
        }

        &.color-2 i {
            background-position: -188px -68px;
        }
    }

    .color-1 {
        background:#3e3b3b;
        background-image: -webkit-linear-gradient(318deg, rgb(27,27,27) 0%, rgb(122,116,116) 100%);
        background-image: -o-linear-gradient(318deg, rgb(27,27,27) 0%, rgb(122,116,116) 100%);
        background-image: linear-gradient(48deg, rgb(27,27,27) 0%, rgb(122,116,116) 100%);
    }

    input:checked + .color-c i {
        opacity: 1;
    }
}

.border-top {
    position: relative;

    &:before {
        @extend .ps;
        width: 890px;
        top: 0;
        left: 50%;
        margin-left: -445px;
        height: 1px;
        background-color: $col-bor;
    }
}

.like {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 18px;
    cursor: pointer;
    
    .def, .hov {
        @extend .trans;
        position: absolute;
        width: 21px;
        height: 18px;
        left: 0;
        top: 0;
    }

    .hov {
        opacity: 0;            
    }   

    &.is-active {
        
        .def {
            opacity: 0;
        }

        .hov {
            opacity: 1;
        }
    }
}

$tags: 15;

.prod-tags {
    font-size: 0;

    .prod-tag {
        @include border-rad(35px);
        display: inline-block;
        position: relative;
        padding: 0 34px 0 16px;
        height: 39px;
        line-height: 36px;
        border: 2px solid #e8e9ea;
        color: $col-f-g;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 14px;
        margin-bottom: 12px;

        &:after {
            @include st(6px, #c5c5c5, 45deg);
            content:"";
            top: 14px;
            right: 18px;
        }

        @for $i from 0 to $tags {
            &:nth-child(#{$i}) {
                animation-delay: calc(0.1*#{$i}s + 0.2s);
                animation-delay: -webkit-calc(0.1*#{$i}s + 0.2s);
                animation-delay: #{0.1*$i}s;
            }
        }
    }
}

.btn-basket {
    width: 205px !important;
}

.btn-buy {
    width: 190px !important;
}